<div class="container-divider"></div>
<div class="error-page">
  {{!--<h1 class="error-page-heading">🙈
    <span class="error-page-status-code">{{t 'oops'}}...</span>
    <span class="error-page-status-code">{{status_code}}_{{error}}</span>
  </h1>--}}

  {{#is error 'unauthorized'}}
  	<h1>{{link 'sign_in'}}</h1>
  {{/is}}

  {{#is error 'forbidden'}}
  	<h1>{{t 'not_authorized'}}</h1>
  {{/is}}

  {{#is error 'not_found'}}
  	<h1>{{t 'nonexistent_page'}}</h1>
  	<p>{{t 'mistyped_address_or_moved_page'}}</p>
  {{/is}}

  {{#link 'help_center'}}
  	{{t 'back_to_homepage'}}
  {{/link}}
</div>