<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      {{dc 'header_logo'}}
        {{!-- full logo for desktop --}}
        <img src="{{asset 'Logo_jeanneau.png'}}"height="65px" width="210.11px">
    </div>
  </div>
  <div class="nav-wrapper" id="right">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{#link 'new_request' class='submit-a-request'}}{{dc 'jeanneau_header_contactez-nous'}}{{/link}}
    </nav>
    {{user_info}}
  </div>
</header>